.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    margin-top: 100px;
}

/* .page-btn Button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
} */
.page-btn .active-btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.page-btn .active-btn:focus{
    background-color: orange;
    color: rgb(0, 0, 0);
    border-color: none;
    box-shadow: none;
}

@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}