.orders-contain{
    display: flex;
    justify-content: center;
}
.orders{
    width: 350px;
}
.orders .delete-btn{
    font-size: 27px;
    color: rgb(235, 87, 87);
    background: rgba(235, 87, 87, 0.3);
    padding: 15px;
    border-radius: 100%;

}

.account-cart{
    background-color: bisque;
    width: 350px;
}